In [1]:
import pandas as pd
import numpy as np

In [44]:
data = pd.read_csv('Weatherforecast.csv')

In [67]:
data = data.replace([np.inf, -np.inf], np.nan)
data = data.dropna(axis=0, how='any')
len(data)

801

In [74]:
data.head()

,latitude,longitude,maxtemp,mintemp,meantemp,totalrain,totalprecipitation,day,month,year
0,43.68,-79.63,29.4,18.9,24.2,2.4,2.4,10,9,2016
1,43.68,-79.63,23.2,14.3,18.8,0.0,0.0,11,9,2016
2,43.68,-79.63,24.6,11.6,18.1,0.0,0.0,12,9,2016
3,43.68,-79.63,28.1,14.5,21.3,0.0,0.0,13,9,2016
4,43.68,-79.63,22.1,12.3,17.2,0.0,0.0,14,9,2016

In [68]:
feature_list = ['maxtemp','mintemp','meantemp','totalrain']
feature = pd.DataFrame(data[feature_list])
target = data['totalprecipitation']
feature.head()

   maxtemp  mintemp  meantemp  totalrain
0     29.4     18.9      24.2        2.4
1     23.2     14.3      18.8        0.0
2     24.6     11.6      18.1        0.0
3     28.1     14.5      21.3        0.0
4     22.1     12.3      17.2        0.0

In [52]:
np.all(np.isfinite(feature))

True

In [65]:
np.any(np.isnan(feature))

False

In [71]:
from sklearn import linear_model
lm = linear_model.LinearRegression()
model = lm.fit(feature,target)

In [76]:
predictions = lm.predict(feature)
print (predictions[0:5])
print (target[0:5].tolist())

[ 2.15503471 -0.1067627   0.0281224  -0.0678251   0.10254292]
[2.4, 0.0, 0.0, 0.0, 0.0]

In [77]:
#R^2 score
lm.score(feature,target)

0.90723064842279388

In [78]:
lm.coef_

array([ 1.78545503,  1.81675254, -3.62925702,  1.01370936])

In [85]:
# interesting negative coefficient with meantemp
# try without meantemp
feature_list = ['maxtemp','mintemp','totalrain']
feature = pd.DataFrame(data[feature_list])
lm = linear_model.LinearRegression()
model = lm.fit(feature,target)
#R^2 score
print ('score: ',lm.score(feature,target))
print ('coef: ', lm.coef_)

score:  0.906862915001
coef:  [ -3.26647922e-02   3.51408815e-04   1.01166891e+00]

In [83]:
feature_list = ['maxtemp']
feature = pd.DataFrame(data[feature_list])
lm = linear_model.LinearRegression()
model = lm.fit(feature,target)
#R^2 score
print ('score: ',lm.score(feature,target))
print ('coef: ', lm.coef_)

score:  6.1098870929e-05
coef:  [ 0.00365368]

In [84]:
feature_list = ['mintemp']
feature = pd.DataFrame(data[feature_list])
lm = linear_model.LinearRegression()
model = lm.fit(feature,target)
#R^2 score
print ('score: ',lm.score(feature,target))
print ('coef: ', lm.coef_)

score:  0.00373827389194
coef:  [ 0.03254562]

In [82]:
feature_list = ['maxtemp','mintemp']
feature = pd.DataFrame(data[feature_list])
lm = linear_model.LinearRegression()
model = lm.fit(feature,target)
#R^2 score
print ('score: ',lm.score(feature,target))
print ('coef: ', lm.coef_)

score:  0.0295353819209
coef:  [-0.23994238  0.29206923]

In [86]:
feature_list = ['meantemp']
feature = pd.DataFrame(data[feature_list])
lm = linear_model.LinearRegression()
model = lm.fit(feature,target)
#R^2 score
print ('score: ',lm.score(feature,target))
print ('coef: ', lm.coef_)

score:  0.00111256007465
coef:  [ 0.01678888]

# Conclution: No correlation with temp.